$background-primary: snow ;
$background-secundary: #e8ff00;
$background-tertiary: #121622;

$text-primary: #121622;
$text-secundary:snow ;
$text-tertiary:#667a99;
$text-quaternary: #e8ff00;

$color-yellow: #fff384;
$color-red: #ff9b7b;

